#why-us {
  width: 100%;
  padding: 90px 10px;
  background: #f6f8f9;
  color: #0d263b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#why-us__title {
  font-size: 2rem;
}

#why-us__second-title {
  font-size: 1.2rem;
  margin-top: 15px;
  text-align: center;
}

#why-us__cards-container {
  width: 100%;
  margin-top: 50px;
  max-width: 1300px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.why-us__card {
  background: #fff;
  height: 350px;
  width: 22%;
  min-width: 300px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 5px;
  border-bottom: 4px solid #0061df;
}

.why-us__card > svg {
  height: 50px;
  width: 50px;
  color: #0061df;
}

.why-us__card-title,
.why-us__card-paragraph {
  text-align: center;
}
